/* 导航栏基本样式 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 3rem;
    background-color: #ffffff;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.brand {
    font-size: 1.5rem;
}

.menu {
    display: flex;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu li {
    margin: 0 1rem;
}

.menu a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu a:hover {
    text-decoration: underline;
}

.icon {
    display: none;
}

@media (max-width: 800px) {

    .navbar {
        padding: 0.5rem 1rem;

    }
    .menu {
        display: none;
        flex-direction: column;
    }

    .icon {
        display: block;
        cursor: pointer;
    }

    .menu.open {
        display: flex;
    }
}