* {
    box-sizing: border-box;
  }
   

.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    margin-top: 20px;
    float: left;
    width: 25%;
    padding-left: 20px;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }